.checked {
  text-decoration: line-through;
}

.navbar-gif {
  height: 100px;
}

.navbar {
  display: flex;
}

.navbar h1 {
  align-self: flex-end;
}

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
