/*to add the strikethrough when a project is completed*/
.checked {
  text-decoration: line-through;
}

/*Navbar*/
.navbar-gif {
  height: 100px;
}

.navbar {
  display: flex;
}

.navbar h1 {
  align-self: flex-end;
}
/*Table*/
.priorityColumn {
  cursor: pointer;
}

/*Footer*/
.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
